.pokemon-display {
    border: 5px solid black;
    box-sizing: border-box;
    font-family: $VT323;
    height: 150px;
    text-align: center;
    width: 150px;

    h2 {
        margin: auto;
    }

    img {
        display: block;
        margin: auto;
    }
}