.pokemon-display {
    border: 5px solid black;
    border-radius: $s-size;
    box-sizing: border-box;
    font-family: $VT323;
    height: 150px;
    margin-top: $s-size;
    text-align: center;
    width: 33%;

    h2 {
        margin: auto;
    }

    img {
        display: block;
        margin: auto;
    }
}