.pokemon-display {
    background-color: lighten($dark-gray, 15%);
    border: 5px solid black;
    border-radius: $s-size;
    box-sizing: border-box;
    filter: drop-shadow(3px 10px 0.75rem black);
    font-family: $VT323;
    height: 150px;
    margin-top: $s-size;
    text-align: center;
    width: 33%;

    h2 {
        margin: auto;
    }

    img {
        display: block;
        filter: drop-shadow(7px 5px 0.75rem black);
        margin: auto;
    }
}

.large-pokemon-display {
    background-color: lighten($dark-gray, 15%);
    border: 5px solid black;
    border-radius: $s-size;
    font-family: $VT323;
    font-size: $l-size;
    height: fit-content;
    text-align: center;
    width: 100%;
    z-index: 2;

    img {
        height: auto;
        padding: 0px;
        width: 200px;
        margin: 0 auto;
    }
}